{% extends '@App/base/BasePublic.html.twig' %}

{% block css %}
    <link rel="stylesheet" href=" {{ asset('css/style_utilisateur.css') }}">
{% endblock %}


{% block header %}
    <div class="container-fluid FondHeader">
    <div class="row font">
        <div class="col-1">
            <img src="{{ asset('image/logobn.jpg') }}" alt="" class="img-fluid">
        </div>
        <div class="col-1 offset-3">
            <p>Home</p>
        </div>

        <div class="col-1">
            <p>About</p>
        </div>

        <div class="col-1">
            <p>Menu</p>
        </div>

        <div class="col-1">
            <p>Photos</p>
        </div>

        <div class="col-1">
            <a href="{{ path('contact') }}">
                <p>Contact</p>
            </a>
        </div>

        <div class="col-1">
            <p>Reservations</p>
        </div>

        <div class="col-1 offset-1 login">
            <a href="{{ path('fos_user_security_login') }}">
                <p>Membre</p>
            </a>
        </div>
    </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container-fluid mt-5">
        <div class="row">

            <div class="column epice">
                <img src="{{ asset('image/epice3.png') }}" alt="" class="img-fluid">
                <img src="{{ asset('image/epice2.png') }}" alt="" class="img-fluid">
            </div>

            <div class="column border">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at atque corporis
                    distinctio doloremque doloribus, hic necessitatibus nulla odit placeat quasi
                    quibusdam similique, voluptatibus. Fugit, iste, repellat. Repudiandae, similique temporibus!
                </p>
            </div>

            <div class="column">
                <img src="{{ asset('image/epice3.png') }}" alt="" class="img-fluid">
                <img src="{{ asset('image/epice2.png') }}" alt="" class="img-fluid">
            </div>

        </div>

        <div class="row FondBody1 mt-5 mb-2">
        </div>
        {#Creation de la row menu, avec une row de deux div col-6 #}

        <div class="col-6">
            {#Image en lien direct avec notre base de données, On doit pouvoir les uploader depuis notre formulaire#}
            <div class="col-6"><img src="" alt=""></div>
            <div class="col-6"><img src="" alt=""></div>
            <div class="col-6"><img src="" alt=""></div>
            <div class="col-6"><img src="" alt=""></div>

        </div>

        <div class="col-6">

        </div>

    </div>

{% endblock %}
