{% extends '@App/base/BaseAdmin.html.twig' %}


{% block body %}

    {# faire un sticyk menu avec nom, prenom, mail et tel#}
    <div class="row">
        <div class="col-2">Prénom</div>
        <div class="col-2">Nom</div>
        <div class="col-3">Mail</div>
        <div class="col-3">Telephone</div>
        <a href="{{ path('admin_Users_create') }}">
            <div class="col-2 offset-1">Ajouter Utilisateur</div>
        </a>
    </div>
    <hr>



    {% for user in Users %}

        <div class="row">
            <div class="col-2">
                <p>{{ user.FirstName }}</p>
            </div>
            <div class="col-2">
                <p>{{ user.LastName }}</p>
            </div>
            <div class="col-3">
                <p>{{ user.email }}</p>
            </div>
            <div class="col-2">
                <p>{{ user.Telephone}}</p>
            </div>
            <div class="col-1">
                <a href="{{ path('admin_Users_update', {'id' :user.id}) }}">
                    <button type="button" class="btn btn-outline-warning">Modifier</button>
                </a>
            </div>
            <div class="col-1">
                <a href="{{ path('admin_Users_delete', {'id' :user.id}) }}">
                    <button type="button" class="btn btn-outline-danger">Supprimer</button>
                </a>
            </div>
        </div>
        <br>

    {% endfor %}

{% endblock %}